[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
sphinx = "*"
ipython = "*"
pytest-pythonpath = "*"
pyvmomi = "*"

[packages]
dohq-artifactory = "*"
psutil = "*"
rpyc = "*"
pywinrm = "*"

[requires]
python_version = "3.7"
