[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pytest-pythonpath = "*"
pytest-cov = "*"
pbr = "*"
devpi-client = "*"
sphinx = "*"
pygments = "*"

[packages]
dohq-artifactory = "*"
rpyc = "*"
pyyaml = "*"
pexpect = "*"
pytest = "*"
pytest-xdist = "*"

[requires]
python_version = "3.7"
