[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
sphinx = "*"
ipython = "*"
pytest-pythonpath = "*"

[packages]
pyvmomi = "*"
dohq-artifactory = "*"
psutil = "*"
rpyc = "*"
winrm = "*"
pywinrm = "*"

[requires]
python_version = "3.7"
